body {
        background-image: url("../images/logInPlayer.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

header h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    margin: 10px 30px 10px 30px;
    padding: 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 70vh;
}

.logInBox {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 4%;
    border: 2px solid #000;
    backdrop-filter: brightness(20%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: 30px;
    width: 30%;
    
    min-width: 40%;
    max-height: 400px;
}

.logInBox h1{
    font-weight: normal;
    font-size: 40px;
    text-shadow: 0px 0px 2px rgba( 0, 0, 0, 0.5);
    margin-bottom: 60px;
    color: white;
    text-align: center;
}


.logInBox label{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 10px;
    color: white;
}


input {
    background-color: rgba(255, 255, 255, 0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
    appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}


.logInBox form {
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
   
    flex-direction: column;
    display: flex;
    gap: 5px;
}

button{
    background: rgba(45,126,231);
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    border: none;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    color: white;
    width: 60%;
    align-self: center;
    margin: 10px 40px 10px 40px;
    max-width: 500px;
}

button:hover{
    cursor: pointer;
    background: rgba(45,126,231);
    transform: scale(1.1,1.1);
    transition: 0.2s;
}

h1{
    color: #000000;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.playerInfoBox {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    
}

.playerInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 20px;
        color: white;
        border-radius: 20px;
        margin-left: 30px;
        background-color: rgba(20, 20, 20, 0.7);
        max-width: 15%;
        padding: 15px;
   
}

#playing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom { 
    display: flex; 
    justify-content: center; 
    align-items: flex-end;
    height: 20vh;
}

ul{
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 20vh;
}

li{
    list-style: none;
    padding: 5px 10px 5px 10px;
    margin: 20px;
}